.page {
  background-color: #3e5f8a;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75vw;
  margin: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.app {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  margin-bottom: 20px;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.current {
  border-bottom: 4px solid white;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 290px;
  height: 95vh;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.oswald-default {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-default {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-slab-default {
  font-family: "Roboto Slab", serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.grad {
  background-color: #3e5f8a; /* For browsers that do not support gradients */
  background: linear-gradient(
    rgba(62, 95, 138, 1) 0%,
    rgba(64, 110, 170, 1) 40%,
    rgba(187, 196, 198, 1) 100%
  );
  min-height: 100vh;
  min-width: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.card {
  background-color: white;
}

.card:hover {
  background-color: #a4c8e1;
  cursor: pointer;
}

.settings {
  background-color: white;
  border-radius: 2em;
  padding: 1em;
}
